# --- Forcing smaller, CPU-only versions of torch to stay under deployment limits ---
--extra-index-url https://download.pytorch.org/whl/cpu

# --- Your App's Main Dependencies ---
streamlit 
pandas 
langchain-experimental 
langchain-openai
openpyxl
python-dotenv
tabulate
plotly